<a href="https://colab.research.google.com/github/subash-scorpian/Car-sales-analysis/blob/main/Car_sales_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Adding pandas to extract the data
import pandas as pd
#Import car sales csv file to pandas as dataframe(df)
df=pd.read_csv('/Car_sales.csv')

In [3]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [5]:
# Count missing values in each column
missing_data = df.isnull().sum()

# Calculate the percentage of missing data
missing_data_percentage = (missing_data / len(df)) * 100

# Combine into a DataFrame for better readability
missing_summary = pd.DataFrame({
    'Missing Values': missing_data,
    'Percentage Missing': missing_data_percentage
})

# Filter to only show columns with missing values
missing_summary = missing_summary[missing_summary['Missing Values'] > 0]

# Display the results
print(missing_summary)

                     Missing Values  Percentage Missing
__year_resale_value              36           22.929936
Price_in_thousands                2            1.273885
Engine_size                       1            0.636943
Horsepower                        1            0.636943
Wheelbase                         1            0.636943
Width                             1            0.636943
Length                            1            0.636943
Curb_weight                       2            1.273885
Fuel_capacity                     1            0.636943
Fuel_efficiency                   3            1.910828
Power_perf_factor                 2            1.273885

In [ ]:
#What are the average, minimum, and maximum sales in thousands.

In [4]:
 sales_status = {
    'Average Sales': df['Sales_in_thousands'].mean(),
    'Minimum Sales': df['Sales_in_thousands'].min(),
    'Maximum Sales': df['Sales_in_thousands'].max()}

In [5]:
sales_status

{'Average Sales': 52.99807643312102,
 'Minimum Sales': 0.11,
 'Maximum Sales': 540.561}